.choose.columns
  - @hits.each do |stock|
    %p  
      .chooser_image
        - if !stock.edition.nil?
          = image_tag stock.edition.image.url(:thumbnail) if stock.edition.image?
        - else
          = image_tag stock.image.url(:thumbnail) unless stock.image.blank?
      .chooser_title= stock.full_title

      %span.price
        - if @sale
          - if stock.class == Inventory
            = link_to number_to_currency(stock.price, :unit => "&euro;".html_safe, :format => "%n%u"), admin_sale_inventory_add_to_cart_path(:sale_id => @sale.id, :inventory_id => stock.id)
          - elsif stock.class == ConsignmentItem
            %em (Consignment item)
            = link_to number_to_currency(stock.price, :unit => "&euro;".html_safe, :format => "%n%u"), admin_sale_consignment_item_add_to_cart_consignment_path(:sale_id => @sale.id, :consignment_item_id => stock.id)
          
        - else
          - if stock.class == Inventory
            = link_to number_to_currency(stock.price, :unit => "&euro;".html_safe, :format => "%n%u"), admin_inventory_start_cart_path(stock)
          - elsif stock.class == ConsignmentItem
            %em (Consignment item)
            = link_to number_to_currency(stock.price, :unit => "&euro;".html_safe, :format => "%n%u"), admin_consignment_item_start_from_consignment_path(stock)
        
  - if @hits.empty?
    %h1 Sorry!
    %h3 We couldn't find anything in the database matching that. Try again.
  .row
    %h3 Try again....?
    - if @sale
      = form_tag query_admin_sale_path(@sale), :method => :get do |f|
        Scan a barcode or enter author/title information to add an additional book:
        = text_field_tag :sales_lookup

        = button_to 'Return to cart', admin_sale_path(@sale), :method => :get, :class => [:button, :round]
    - else
      .new_sale.columns
        %h1 New sale
        = form_tag '/admin/sales/query' do |f|
          = text_field_tag :sales_lookup
:javascript
  $("#sales_lookup").select();