%h1 New sale

#sales_form
  = form_tag '/admin/sales/query' do |f|
    Scan a barcode or enter author/title information to search our inventory:
    = text_field_tag :sales_lookup
    !!! XML
!!!
%html{:'xml:lang' => "en", :lang => "en", :xmlns => 'http://www.w3.org/1999/xhtml', :'xmlns:og' => "http://ogp.me/ns#", :'xmlns:fb' => "http://www.facebook.com/2008/fbml" }
  %head
    = display_meta_tags :site => "Slothrop's"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags 
    = javascript_include_tag "vendor/custom.modernizr"
    %meta{:property => "og:locale", :content => "en_GB"}    
    %meta{:property => "og:type", :content => "article"}
    %meta{:property => "og:site_name", :content => "Slothrop's"}
    %meta{:property => "fb:app_id", :content => (Rails.env == 'development' ? "274357239251162" : "172132482884497")}   
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %body.anti-aliased.off-canvas.hide-extras
    .container
      .contain-to-grid.top-bar-slothrops
        %nav.top-bar
          .row
            .large-3.columns
              %ul.title-area
                %li.name= image_tag 'sg.png'
                
    %section.main
    #cms_header.clearfix 
      .staff_menu
        .status_bar
          = "you are logged in as #{current_user.username}."
          = link_to "[public site]", '/'
          = link_to "[good-bye]", destroy_user_session_path, :method => :delete

        .staff_menu_link= link_to 'all books', '/admin/books'
        .staff_menu_link= link_to 'all authors', '/admin/creators'
        .staff_menu_link= link_to 'latest stats', '/admin/'
        .staff_menu_link
          %span.sell_link= link_to 'SELL BOOKS', '/admin/sales/new'
        .staff_menu_link= link_to 'all sales', '/admin/sales/'
        .staff_menu_link
          %span.reports= link_to 'reports', '/admin/reports'
        .staff_menu_link= link_to 'open sales', '/admin/sales?show=opened'
        .staff_menu_link= link_to ' expenses! ' , admin_expenses_path
        .staff_menu_link
          %span.buy_link= link_to 'BUY BOOKS', '/admin/bookbuys'
        .staff_menu_link
          %span.today= link_to 'today\'s sales', '/admin/sales?show=today'
        .staff_menu_link= link_to 'blog posts', admin_posts_path
        .staff_menu_link= link_to 'static pages', admin_staticpages_path
        .staff_menu_link= link_to 'write a review', admin_reviews_path
        .staff_menu_link= link_to ' see all gift certificates', admin_vouchers_path
        .staff_menu_link= link_to 'podcasts', admin_podcasts_path
        .staff_menu_link= link_to 'events', admin_events_path
        .staff_menu_link= link_to 'carousels', admin_carousels_path
        .staff_menu_link= link_to 'tags/collections', admin_tags_path
        .staff_menu_link= link_to 'consigners', admin_consigners_path
        .staff_menu_link= link_to 'music categories', admin_musiccategories_path
        .staff_menu_link{:style => "margin-left: 85px; font-size: 13px;"}= link_to 'AUDIT', '/admin/inventories/audit'
      #corner_search
        = form_tag('/admin/books', :method => :get)  do
          Search Slothrop's by author or title:
          = text_field_tag :book_title,  @searchterm, :size => 30

        = form_tag query_admin_books_path, :method => :get do 
          New inventory item:
          = text_field_tag :query
        .custom_entry= link_to 'create custom entry', '/admin/books/new'
        .custom_entry
          Local time is:
          = Time.zone.now.strftime("%H:%M")
        .custom_entry
          System time is:
          = Time.now.strftime("%H:%M")
    - flash.each do |name, msg| 
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) 

      
    #main_cms= yield
:javascript
  $(document).ready(function(){
    $('input.date-picker').datepicker({ dateFormat: 'yy-mm-dd' });
  });
  or
  = link_to 'Sell a gift voucher', start_cart_admin_vouchers_path
  
:javascript
  $("#sales_lookup").select();