.cart.columns
  %h1 Slothrop's staff side

  #stats
    Total inventory:
    - sum = Inventory.sum(:price)
    - priced = Inventory.count(:conditions => 'price > 0')
    = raw "#{Inventory.available.count} unsold of #{Inventory.count} (#{Book.count} unique titles, #{Edition.count} unique editions). #{priced} priced, #{Inventory.count(:conditions => 'initialed is not null')} reviewed/shelved, total potential value #{number_to_currency(sum, :unit => '&euro;', :format => '%n%u')} (avg. #{number_to_currency((sum/priced), :unit => '&euro;', :format => '%n%u')} per book)"


  %h3= link_to 'see all books', admin_books_path

