%h2 New custom book
%p Only use this to enter books with editions that you cannot find in Amazon.

= semantic_form_for [:admin, @book] do |f|
  = f.input :title
  = f.input :creator_name
  = f.input :category
  = f.semantic_fields_for :editions do |ff|
    = ff.input :format
    = ff.input :barcode
  = f.submit "Save", :class => [:button, :radius] 