.browse

  - unless @cat.blank?
    %h1
      Browsing: 
      = @cat.name
    = select_tag_for_filter("category", @cat, @filters, params)
    = paginate @inventories
  .searches
    - @inventories.each do |item|
      .search_hit.row
        .search_image.small-3.columns
          - image = item.editions.delete_if{|x| x.image.nil? }.first.image.url(:midsize)
          - if image.blank?
            = link_to image_tag('/graphics/missing225.png'), item
          - else  
            = link_to image_tag(image), item            
          - if item.editions
            - item.editions.each do |edition|
              - next unless edition.in_stock?
              - edition.inventories.each do |inv|
                - next if inv.sold == true
                .block_150
                  .format= inv.edition.format.blank? ? '' : inv.edition.format.humanize
                  .book_price= number_to_currency(inv.price, :unit => raw("&euro;"), :format => "%n%u")
                  .order_now= paypal(inv)

        .search_info.small-9.columns
          .latest_title= link_to item.full_title, item
          - unless item.editions.map{|x| x.product_description}.compact.blank?
            .item_description
              = raw truncate_words(sanitize(item.editions.delete_if{|x| x.product_description.nil? }.first.product_description.gsub(/&#x2019;/, '\'').gsub(/&lt;/, '<').gsub(/&gt;/, '>'), :tags => %W(em i)), 50) + raw("</I>")
              .read_more= link_to 'read more', book_path(item)


          - unless item.collections.blank?
            .collections
              %ul
                - item.collections.each do |collection|
                  %li= link_to collection.name.humanize, '/collections/' + collection.slug
            
    = paginate @inventories