= form_for [:admin, @paymenttype] do |f|
  -if @paymenttype.errors.any?
    #error_explanation
      %h2= "#{pluralize(@paymenttype.errors.count, "error")} prohibited this paymenttype from being saved:"
      %ul
        - @paymenttype.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
