
.small-12.inventory_item
  %h3= inventory.full_title
.book_image.small-3.columns
  - if inventory.item_image.url
    = image_tag inventory.item_image.midsize.url       
  .book_price= number_to_currency(inventory.price, :unit => raw("&euro;"), :format => "%n%u")
  .order_now= link_to inventory.stock_count.to_s + ' IN STOCK NOW', '#'
         
.book_metadata.small-9.columns
  .inventory_item
    .description_body= raw inventory.item_description


