.book_content.row
  .large-12.columns
    %h3= raw @record.full_title
  .small-3.columns.book_image
    = image_tag @record.image.url(:midsize)
    - if !@record.in_stock?
      %p Sorry, Slothrop's does not currently have this title in stock.
    - else
   
      - @record.consignment_items.each do |ci|
        - next unless ci.in_stock?
        .book_price= number_to_currency(ci.price, :unit => "&euro;", :format => "%n%u")
        .order_now IN STOCK NOW!
        - unless @record.musiccategory.blank?
          .category
            Category:
            = link_to @record.musiccategory.name, @record.musiccategory

  .book_metadata.small-9.columns
    %p= "Artist: #{@record.artist}"
    %p= "Title: #{@record.title}"
    %p= "Label: #{@record.label} #{@record.catalog}" 
    %p= "Format: #{@record.format}"
    %p

    %p
      = link_to 'See on discogs.com', "http://www.discogs.com/release/#{@record.discogs_id}"

