= semantic_form_for([:admin, @sale, @payment]) do |f|
  = f.input :paymenttype, :include_blank => false
  = f.input :amount
  = f.input :bookbuy, :collection => Bookbuy.where('creditamt > 0').delete_if{|x| x.credit_left == 0 && x != @payment.bookbuy}.map{|x| [raw(x.source + " (" + number_to_currency(x.credit_left) + " remaining)"), x.id]}, :label => 'Store credit from: '
  = f.input :voucher, :collection => Voucher.all.delete_if{|x| x.left == 0 && x != @payment.voucher}.map{|x| [raw(x.number + " (" + number_to_currency(x.amount) + "; " + number_to_currency(x.left) + " remaining)"), x.id]}, :label  => "Gift certificate:"
  = f.submit