%p#notice= notice

%h3 Consigner details
%p
  %b Name:
  = @consigner.name
%p
  %b Email:
  = @consigner.email
%p
  %b Phone:
  = @consigner.phone
%p
  %b Comments:
  = @consigner.comments
%ul.button-group.round
  %li= link_to 'Add book', new_book_admin_consigner_path(@consigner), :class => "button"
  %li= link_to 'Add vinyl', new_record_admin_consigner_path(@consigner), :class => "button "
  %li= link_to 'Add other item', new_admin_consigner_consignment_item_path(@consigner), :class => "button "
  %li= link_to 'Edit person details', edit_admin_consigner_path(@consigner), :class => "button "
  %li= link_to 'Delete consigner', [:admin, @consigner], :confirm => 'Are you sure?', :method => :delete, :class => "button alert"
  %li= link_to 'Back to list', admin_consigners_path, :class => "button "
  
%ul.button-group.round
  - unless @consigner.consignment_items.reject{|x| !x.in_stock? }.empty?
    %li= link_to 'In stock', '#in_stock', :class => "button success"
  - unless @consigner.consignment_items.reject{|x| x.in_stock? }.empty?
    %li= link_to 'Sold items', '#sold', :class => "button success"
    
- unless @consigner.consignment_items.empty?
  - unless @consigner.consignment_items.reject{|x| !x.in_stock? }.empty?
    #in_stock= render :partial => 'consigner_table', :locals => {:title => 'Items, in-stock', :consignment_items  => @consigner.consignment_items.reject{|x| !x.in_stock? } }
  - unless @consigner.consignment_items.reject{|x| x.in_stock? }.empty?
    #sold= render :partial => 'consigner_table', :locals => {:title => 'Sold items, no longer in-stock', :consignment_items  => @consigner.consignment_items.reject{|x| x.in_stock? } }
= link_to 'Add book', new_book_admin_consigner_path(@consigner)
\|
= link_to 'Add vinyl', new_record_admin_consigner_path(@consigner)
\|
= link_to 'Add other item', new_admin_consigner_consignment_item_path(@consigner)
\|
= link_to 'Edit person details', edit_admin_consigner_path(@consigner)
\|
= link_to 'Destroy', [:admin, @consigner], :confirm => 'Are you sure?', :method => :delete
\|
= link_to 'Back', admin_consigners_path
