.book_content.row
  .large-12.columns
    %h3= raw @book.full_title
  .book_image.small-3.columns
    = link_to image_tag(@book.any_image.gsub(/development/, 'production')), @book.any_image
    - if @book.editions_in_stock.size == 0
      %p Sorry, Slothrop's does not currently have this title in stock.    
    - else
      - @book.editions.each do |ed|
        = render :partial => "shared/edition", :locals => {:inventory => ed}
    
  .book_metadata.small-9.columns
    - unless @book.reviews.blank?
      .description_title Slothrop's Sez...
    - @book.reviews.each do |post|
      .description_body= raw post.body
      .description_metadata= "posted by #{post.reviewer_name}, #{time_ago_in_words(post.created_at)} ago"
    - unless @book.any_description.blank?
      .description_title Publisher's Description
      .description_body
        %p=raw  @book.any_description.gsub(/&lt;/, '<').gsub(/&gt;/, '>').gsub(/&#x2019;/, '\'')        
  
