= semantic_form_for [:admin, @post] do |f|
  -if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  = f.input :user_id, :as => :hidden, :value => current_user.id
  .field
    = f.input :subject
  .field
    = f.label :body
    = f.cktext_area :body
  = f.input :image, :label => 'icon for post (optional)'
  = f.input :published, :as => :boolean
  .actions
    = f.submit 'Save'
