%h1 Listing posts

%table
  %tr
    %th Subject
    %th text
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td{:style => "vertical-align: top"}
        = post.image.present? ? image_tag(post.image.url(:small), :width => 75) : ''
        = post.subject
      %td= truncate_html(post.body, :length => 200)
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_admin_post_path(post)
      %td= link_to 'Destroy', [:admin, post], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Post', new_admin_post_path
