.date
%h2= "##{podcast.number} #{podcast.name}"

.row
  .columns.small-2
    .podcast_image= image_tag podcast.image.box.url
  .small-6.columns
    .podcast_description= raw podcast.description
    - unless podcast.podcastlinks.blank?
      .footnote_link= link_to 'See footnotes, references, and other marginalia', '#', "data-reveal-id" => "podcast_#{podcast.id.to_s}"


    
  .small-1.columns.right_link= link_to 'iTunes', 'http://itunes.apple.com/us/podcast/slothrops-screaming-sky/id517693587'