= content_for :left_column do
  = render :partial => 'shared/right_rec_featured', :locals => {:featured => @featured, :reviews => @reviews }
  
.clearfix
  %h3 Slothrop's Screaming Sky
  %h4= "Episode #{@podcast.number}: #{@podcast.name}"

  - if @podcast.image?
    = image_tag @podcast.image.standard.url
  
  - unless @podcast.url.blank?
    #mediaplayer
      %audio{:controls => "true", :src => "http://d1kxrz7d4juvwn.cloudfront.net/#{File.basename(@podcast.url)}"}
        Your browser does not support the audio element.
    / 
    / = content_for :jquery do 
    /   :plain
    /     jwplayer('mediaplayer').setup({
    /         'id': 'playerID',
    /         'width': '100%',
    /         'height': '24',
    /         'controlbar': 'bottom',
    /         'provider': 'rtmp',
    /         'streamer': 'rtmp:///s3yikp7p8kliq.cloudfront.net/cfx/st/',
    /         // .mp4 files: use the following format:
    /         //   'file': 'mp4:VIDEO-FILE-NAME
    /         // .flv files: use the following format:
    /         //   'file': 'VIDEO-FILE-NAME',
    /         'file': 'mp4:#{File.basename(@podcast.url)}',
    /         'autostart' : 'false',
    /         'modes': [
    /            {type: 'flash', src: 'https://d1jtgz7tgxn38u.cloudfront.net/player.swf'},
    /           ]
    /        });      
      
      
    .download_link.read_more
      = link_to 'Subscribe in iTunes!', 'http://itunes.apple.com/us/podcast/slothrops-screaming-sky/id517693587'

  
  - if @podcast.description?
    %p= raw @podcast.description
    
  - unless @podcast.podcastlinks.blank?
    .podcast_links_header 
      %u Footnotes, references, and other marginalia:
    - @podcast.podcastlinks.sort_by{|link| link.sortorder.to_f }.each do |link|
      .podcast_link.clearfix
        
        - if link.image?
          .podcast_link_image= image_tag link.image.midsize.url

        .podcast_link_metadata
          .podcast_link_title
            *
            = link_to_if link.url?, link.name, link.url, :target => :_blank
          - unless link.description.blank?
            .podcast_link_description= raw link.description

