= content_for :left_column do
  = render :partial => 'shared/right_rec_featured', :locals => {:featured => @featured, :reviews => @reviews }
  
.clearfix
  %h3 Slothrop's Screaming Sky
  %h4= "Episode #{@podcast.number}: #{@podcast.name}"

  - if @podcast.image?
    = image_tag @podcast.image.standard.url
  
  - unless @podcast.url.blank?
    #mediaplayer This will be replaced.
    :javascript
      mySound = soundManager.createSound({
          id: 'mediaplayer',
          serverURL: 'rtmp://media.slothops.ee/cfx/st', 
          url: 'mp4:#{File.basename(@podcast.url)}'

 
      });
      
    .download_link.read_more
      = link_to 'Subscribe in iTunes!', 'http://itunes.apple.com/us/podcast/slothrops-screaming-sky/id517693587'

  
  - if @podcast.description?
    %p= raw @podcast.description
    
  - unless @podcast.podcastlinks.blank?
    .podcast_links_header 
      %u Footnotes, references, and other marginalia:
    - @podcast.podcastlinks.sort_by{|link| link.sortorder.to_f }.each do |link|
      .podcast_link.clearfix
        
        - if link.image?
          .podcast_link_image= image_tag link.image.midsize.url

        .podcast_link_metadata
          .podcast_link_title
            *
            = link_to_if link.url?, link.name, link.url, :target => :_blank
          - unless link.description.blank?
            .podcast_link_description= raw link.description

