!!! XML
!!!
%html{:'xml:lang' => "en", :lang => "en", :xmlns => 'http://www.w3.org/1999/xhtml', :'xmlns:og' => "http://ogp.me/ns#", :'xmlns:fb' => "http://www.facebook.com/2008/fbml" }
  %head
    = display_meta_tags :site => "Slothrop's"
    = stylesheet_link_tag    "cms/cms"
    = javascript_include_tag "application"
    = csrf_meta_tags 
    = javascript_include_tag "vendor/custom.modernizr"
    %meta{:property => "og:locale", :content => "en_GB"}    
    %meta{:property => "og:type", :content => "article"}
    %meta{:property => "og:site_name", :content => "Slothrop's"}
    %meta{:property => "fb:app_id", :content => (Rails.env == 'development' ? "274357239251162" : "172132482884497")}   
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %body.anti-aliased.off-canvas.hide-extras
    .container
      .contain-to-grid.top-bar-slothrops
        %nav.top-bar
          .row
            .large-3.columns
              %ul.title-area
                %li.name= image_tag 'sg.png'
            .large-9.columns.side_stuff

              #corner_search.row
                .small-3.columns.small-offset-8
                  = form_tag('/admin/books', :method => :get)  do
                    %label.small-5.columns Search stock:
                    .small-7.columns= text_field_tag :book_title,  @searchterm, :size => 30

                .small-3.columns.small-offset-8
                  = form_tag query_admin_books_path, :method => :get do 
                    %label.small-5.columns New inventory item:
                    .small-7.columns= text_field_tag :query
                .row
                  .small-3.columns.small-offset-8
                    .custom_entry= link_to 'create custom entry', '/admin/books/new'               
              - unless Sale.opened.empty?
                .row
                  .small-3.columns.small-offset-9
                    %span.radius.alert.label
                      = link_to pluralize(Sale.opened.size, 'open sale') + '!', '/admin/sales?show=opened'
              - flash.each do |name, msg| 
                = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    %section.main
      .row
        - unless @sale || @hits
          .new_sale.columns
            %h1 New sale
            = form_tag '/admin/sales/query' do |f|
              = text_field_tag :sales_lookup
            :javascript
              $("#sales_lookup").select();          
      .row.admin_content= yield
      .row
        .large-6.columns
          %h1 Sell Books
          .row
            .large-6.columns
              %h2= link_to 'Sell gift voucher', start_cart_admin_vouchers_path
            .large-6.columns
              %h2= link_to 'Today\'s sales', '/admin/sales?show=today'
          .row
            .large-6.columns
              %h2= link_to 'Open sales', '/admin/sales?show=opened'
            .large-6.columns
              %h2= link_to 'Latest stats', '/admin'
          .row
            .large-6.columns
              %h2= link_to 'All sales', '/admin/sales'
        .large-6.columns
          %h1= link_to  'Buy Books', '/admin/bookbuys'
        
      .row
        .large-6.columns
          %h1 Inventory
          .row
            .large-6.columns
              %h2= link_to 'All authors', '/admin/creators'
            .large-6.columns
              %h2= link_to 'Consigners', admin_consigners_path
          .row
            .large-6.columns
              %h2= link_to 'All books', '/admin/books'
            .large-6.columns
              %h2= link_to 'Music categories', admin_musiccategories_path
        .large-6.columns
          %h1 Admin
          .row
            .large-6.columns
              %h2= link_to 'Expenses', admin_expenses_path
            .large-6.columns
              %h2= link_to 'Posts', admin_posts_path
          .row
            .large-6.columns
              %h2= link_to 'Reports', '/admin/reports'
            .large-6.columns
              %h2= link_to 'Events', admin_events_path
          .row
            .large-6.columns
              %h2= link_to 'See all vouchers', admin_vouchers_path
            .large-6.columns
              %h2= link_to 'Podcasts', admin_podcasts_path
          .row
            .columns
              %h2= link_to 'Static pages', admin_staticpages_path
              
          

          /       = link_to "[good-bye]", destroy_user_session_path, :method => :delete
          / 
          /     .staff_menu_link= link_to 'all books', '/admin/books'
          /     .staff_menu_link= link_to 'all authors', '/admin/creators'
          /     .staff_menu_link= link_to 'latest stats', '/admin/'
          /     .staff_menu_link
          /       %span.sell_link= link_to 'SELL BOOKS', '/admin/sales/new'
          /     .staff_menu_link= link_to 'all sales', '/admin/sales/'
          /     .staff_menu_link
          /       %span.reports= link_to 'reports', '/admin/reports'
          /     .staff_menu_link= link_to 'open sales', '/admin/sales?show=opened'
          /     .staff_menu_link= link_to ' expenses! ' , admin_expenses_path
          /     .staff_menu_link
          /       %span.buy_link= link_to 'BUY BOOKS', '/admin/bookbuys'
          /     .staff_menu_link
          /       %span.today= link_to 'today\'s sales', '/admin/sales?show=today'
          /     .staff_menu_link= link_to 'blog posts', admin_posts_path
          /     .staff_menu_link= link_to 'static pages', admin_staticpages_path
          /     .staff_menu_link= link_to 'write a review', admin_reviews_path
          /     .staff_menu_link= link_to ' see all gift certificates', admin_vouchers_path
          /     .staff_menu_link= link_to 'podcasts', admin_podcasts_path
          /     .staff_menu_link= link_to 'events', admin_events_path
          /     .staff_menu_link= link_to 'carousels', admin_carousels_path
          /     .staff_menu_link= link_to 'tags/collections', admin_tags_path
          /     .staff_menu_link= link_to 'consigners', admin_consigners_path
          /     .staff_menu_link= link_to 'music categories', admin_musiccategories_path
          /     .staff_menu_link{:style => "margin-left: 85px; font-size: 13px;"}= link_to 'AUDIT', '/admin/inventories/audit'

        .custom_entry
          Local time is:
          = Time.zone.now.strftime("%H:%M")
        .custom_entry
          System time is:
          = Time.now.strftime("%H:%M")


:javascript
  $(document).ready(function(){
    $(document).foundation();
    $('input.date-picker').datepicker({ dateFormat: 'yy-mm-dd' });
  });