!!! XML
!!!
%html{ :'xml:lang' => "en", :lang => "en" }
  %head
    %title Slothrop's admin
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    %link{:rel => 'stylesheet', :href => "http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css" }
    = stylesheet_link_tag    "application", "cms/cms", :media => :all
    = stylesheet_link_tag "print/print", :media => :print
    = javascript_include_tag "application"
    = javascript_include_tag "ckeditor/init"
    = csrf_meta_tags 
  %body
    #cms_header.clearfix 
      .staff_menu
        = "you are logged in as #{current_user.username}."
        = link_to "[public site]", '/'
        = link_to "[good-bye]", destroy_user_session_path, :method => :delete
        %br/
        .staff_menu_link= link_to 'all books', '/admin/books'
        .staff_menu_link= link_to 'all authors', '/admin/creators'
        .staff_menu_link= link_to 'latest stats', '/admin/'
        .staff_menu_link
          %span.sell_link= link_to 'SELL BOOKS', '/admin/sales/new'
        .staff_menu_link= link_to 'all sales', '/admin/sales/'
        .staff_menu_link
          %span.reports= link_to 'reports', '/admin/reports'
        .staff_menu_link= link_to 'open sales', '/admin/sales?show=opened'
        .staff_menu_link= link_to ' expenses! ' , admin_expenses_path
        .staff_menu_link
          %span.buy_link= link_to 'BUY BOOKS', '/admin/bookbuys'
        .staff_menu_link
          %span.today= link_to 'today\'s sales', '/admin/sales?show=today'
        .staff_menu_link= link_to 'blog posts', admin_posts_path
        .staff_menu_link= link_to 'static pages', admin_staticpages_path
        .staff_menu_link= link_to 'write a review', admin_reviews_path
        .staff_menu_link= link_to ' see all gift certificates', admin_vouchers_path
        .staff_menu_link= link_to 'podcasts', admin_podcasts_path
        .staff_menu_link= link_to 'events', admin_events_path
        .staff_menu_link= link_to 'carousels', admin_carousels_path
        .staff_menu_link= link_to 'tags/collections', admin_tags_path
        .staff_menu_link= link_to 'consigners', admin_consigners_path
        .staff_menu_link= link_to 'music categories', admin_musiccategories_path
        .staff_menu_link{:style => "margin-left: 85px; font-size: 13px;"}= link_to 'AUDIT', '/admin/inventories/audit'
      #corner_search
        = form_tag('/admin/books', :method => :get)  do
          Search Slothrop's by author or title:
          = text_field_tag :book_title,  @searchterm, :size => 30

        = form_tag query_admin_books_path, :method => :get do 
          New inventory item:
          = text_field_tag :query
        .custom_entry= link_to 'create custom entry', '/admin/books/new'
        
    - flash.each do |name, msg| 
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) 

      
    #main_cms= yield
:javascript
  $(document).ready(function(){
    $('input.date-picker').datepicker({ dateFormat: 'yy-mm-dd' });
  });