!!! XML
!!!
%html{:'xml:lang' => "en", :lang => "en", :xmlns => 'http://www.w3.org/1999/xhtml', :'xmlns:og' => "http://ogp.me/ns#", :'xmlns:fb' => "http://www.facebook.com/2008/fbml" }
  %head
    = display_meta_tags :site => "Slothrop's"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", "galleria"
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags 
    %meta{:property => "og:locale", :content => "en_GB"}    
    %meta{:property => "og:type", :content => "article"}
    %meta{:property => "og:site_name", :content => "Slothrop's"}
    %meta{:property => "fb:app_id", :content => (Rails.env == 'development' ? "274357239251162" : "172132482884497")}   
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28072286-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript';       ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body.anti-aliased.off-canvas.hide-extras
    .container
      #fb-root
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=361608853869521";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
    .contain-to-grid.top-bar-slothrops
      %nav.top-bar
        .row
          .small-12.columns
            %ul.title-area
              %li.name= image_tag 'sg.png'
            %section.top-bar-section
              %ul.right
                %li.divider
                %li= link_to 'Home', '/'
                %li= link_to 'Calendar', '/'
                %li= link_to 'Stock', '/'
                %li= link_to 'Podcast', '/'
                - if current_user
                  %li= link_to 'Admin side', '/admin'
                  %li= link_to "Sign out", destroy_user_session_path, :method => :delete 
                
      / #header.sixteen.columns
      /   .header_image= link_to image_tag('/images/system/header_logo.png'), '/'
      / #divider_bar.clearfix.sixteen.columns
      /   .icons.four.columns.alpha.omega
      /     %ul
      /       = link_to 'http://www.facebook.com/Slothrops', :target => :_blank do
      /         %li.facebook
      /       
      /       = link_to  'http://www.twitter.com/Slothrops' , :target => :_blank do
      /         %li.twitter
      /       = link_to posts_path(:format => :rss) do
      /         %li.rss
      /       = link_to 'http://itunes.apple.com/us/podcast/slothrops-screaming-sky/id517693587' , :target => :_blank do
      /         %li.itunes         
      /       = link_to  'http://www.twitter.com/SlothropsStock', :target => :_blank, :class => :stock do
      /         %li.inventory
      /       = link_to 'https://foursquare.com/v/slothrops/4eeabdddc2ee434b7134054c',:target => :_blank do
      /         %li.foursquare
      / .white_stretch.twelve.columns.omega
      /   .white.search.clearfix.search_box.eight.columns.alpha
      /     %h4 Search
      /     = form_tag '/search' do
      /       = text_field_tag :searchterm
      /       = submit_tag ''
      /   .white.eight.columns.alpha
      /     %ul.sf-menu
      /       %li.current.top.three.columns.alpha.omega
      /         = link_to "What's new", '#'
      /         %ul
      /           %li= link_to 'Podcasts', podcasts_path
      /           %li= link_to 'Events', events_path
      /           %li= link_to 'News', posts_path
      /       %li.top.top.three.columns.alpha.omega
      /         = link_to "Books", '#'
      /         %ul
      /           %li= link_to 'Music', records_path
      /           %li= link_to 'Reviews', reviews_path
      /           %li= link_to 'Collections', collections_path
      /       %li.last.columns.omega.two
      /         = link_to 'About Us', '/page/a-bit-about-us'
      /         %ul
      /           %li= link_to 'Contact', '/page/contact' 
    %section.main
      .row
        .large-9.push-3.columns
        .large-3.pull-9.columns
          %section.info
            %h1 Slothrop's English Language Bookshop
            %h2 Pikk 34, Kesklinn
          
            .hours
              %h2
                .small We are usually open:
              %h2 Mon - Sat 12:00 - 18:00
              %h2= link_to 'info@slothrops.ee', 'mailto:info@slothrops.ee'
          %section.social_networking
            .content
              %ul.side-nav
                = link_to 'http://www.facebook.com/Slothrops', :target => :_blank do
                  %li.facebook
            
                = link_to  'http://www.twitter.com/Slothrops' , :target => :_blank do
                  %li.twitter
                = link_to  'http://www.twitter.com/SlothropsStock', :target => :_blank, :class => :stock do
                  %li.inventory
                = link_to 'https://foursquare.com/v/slothrops/4eeabdddc2ee434b7134054c',:target => :_blank do
                  %li.foursquare
                  
          %section.categories= render :partial => 'shared/categories'
          
    #main.sixteen.columns
   
      #left.four.columns.alpha

      - if content_for?(:right_column)
        #centre.eight.columns
          - flash.each do |name, msg| 
            = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) 
          = yield
        #right.four.columns.omega= yield :right_column
      - else
        #centre.twelve.columns.omega= yield
:javascript
  $(document).ready(function(){
    slideShow(8000);
    $('li.inventory')
        .mouseover(function() {
  
        $(this).stop().animate({backgroundPosition: "(0 8px)"}, {duration:500});
   })
   // On mouse out, move the background back
   .mouseout(function() {
     $(this).stop().animate({backgroundPosition: "(0 0)"}, {duration:500});
   });
 
   $("ul.sf-menu").superfish(); 

   
     });