!!! XML
!!!
%html{:'xml:lang' => "en", :lang => "en", :xmlns => 'http://www.w3.org/1999/xhtml', :'xmlns:og' => "http://ogp.me/ns#", :'xmlns:fb' => "http://www.facebook.com/2008/fbml" }
  %head
    = display_meta_tags :site => "Slothrop's"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags 
    = javascript_include_tag "vendor/custom.modernizr"
    %meta{:property => "og:locale", :content => "en_GB"}    
    %meta{:property => "og:type", :content => "article"}
    %meta{:property => "og:site_name", :content => "Slothrop's"}
    %meta{:property => "fb:app_id", :content => (Rails.env == 'development' ? "274357239251162" : "172132482884497")}   
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28072286-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript';       ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body.anti-aliased.off-canvas.hide-extras
    .container
      #fb-root
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=361608853869521";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
    .contain-to-grid.top-bar-slothrops
      %nav.top-bar
        .row
          .small-12.columns
            %ul.title-area
              %li.name= image_tag 'sg.png'
            %section.top-bar-section
              %ul.right
                %li.divider
                %li= link_to 'Home', '/'
                %li= link_to 'Calendar', '/'
                %li= link_to 'Stock', '/'
                %li= link_to 'Podcast', '/'
                - if current_user
                  %li= link_to 'Admin side', '/admin'
                  %li= link_to "Sign out", destroy_user_session_path, :method => :delete 

    %section.main
      .row
        .large-9.push-3.columns= yield
        .large-3.pull-9.columns
          %section.info
            %h1 Slothrop's English Language Bookshop
            %h2 Pikk 34, Kesklinn
          
            .hours
              %h2
                .small We are usually open:
              %h2 Mon - Sat 12:00 - 18:00
              %h2= link_to 'info@slothrops.ee', 'mailto:info@slothrops.ee'
          %section.social_networking
            .content
              %ul.side-nav
                = link_to 'http://www.facebook.com/Slothrops', :target => :_blank do
                  %li.facebook
            
                = link_to  'http://www.twitter.com/Slothrops' , :target => :_blank do
                  %li.twitter
                = link_to  'http://www.twitter.com/SlothropsStock', :target => :_blank, :class => :stock do
                  %li.inventory
                = link_to 'https://foursquare.com/v/slothrops/4eeabdddc2ee434b7134054c',:target => :_blank do
                  %li.foursquare
                  
          %section.categories= render :partial => 'shared/categories'
    %footer
      .row.footer_menu
        .large-2.columns &nbsp;
        .large-8.columns
          .row
            .large-5.columns
              .row
                .large-4.columns
                  %ul
                    %li= link_to 'Admin sign-in', '/admin'
                .large-8.columns
                  %ul
                    %li= link_to 'Home & News', '/'
                    %li= link_to 'Stock', inventories_path
                    %li= link_to 'Calendar', events_path
                    %li= link_to 'Podcast', podcasts_path
            .large-7.columns
              .row
                .large-6.columns
                  %ul
                    %li= link_to 'Facebook', ''
                    %li= link_to 'Twitter (News)', ''
                    %li= link_to 'Twitter (New stock)', ''
                    %li= link_to 'Find us on Google maps', ''
                .large-6.columns
                  %ul
                    %li= link_to "We'll buy your books!", ''
                    %li= link_to "Volunteering at Slothrop's", ''
                    %li= link_to 'Ordering books from the UK', ''
        .large-2.columns &nbsp;
      .row
        .large-8.small-centered.columns.contact_deets
          = image_tag 'footer_S.png'
          %p Slothrop's English Language Bookshop
          %p
            Pikk 34, Tallinn, Estonia
            |
            = link_to 'info@slothrops.ee', 'mailto:info@slothrops.ee'
          %p Proudly owned by Conglomeron Chemical.
            
          
    :javascript
      $(document).foundation();
      
