.columns
  %h2 Static page
  = semantic_form_for [:admin,  @staticpage] do |f|
    = f.input :title
    = f.input :body
    - if f.object.image.present?
      = image_tag f.object.image.url(:small)
      = f.input :remove_image, :as => :boolean
      = f.input :image, :label => 'Change image: '
    - else
      = f.input :image
    = f.input :published
    = f.submit 'save', :class => [:button, :radius]
